<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      
     
      <script src="/components/d3/d3.min.js"></script>
      <script src="/js/legacy/pcaso-painting-service.js"></script>
      <script src="/js/comment-controller.js"></script>  
      
      <div class="datascape-container">
	
	
	<p class="title center">
	  
	  <span class="fa-3x">
	    <%= datascape.displaySettings.title %>
	  </span>
	  
	  <% if (isOwner) { %> 
	  <a href="<%- datascape.links.local %>/settings">
	    <i class="fa fa-cog rotate-on-hover" style="vertical-align: top;"></i></a>
	  <% } %>
	  
	  <span class="font-size-small">by <a href="<%- datascape.links.parent %>"> <%= datascape.parent.name.first %> <%= datascape.parent.name.last %></a></span>
	</h1>
	
	
	<div id="loading">
	  <h3><i class="fa fa-spinner fa-spin fa-2x"> </i> Painting data...</h3>
	</div>
	
	<!-- Pcaso --> 
	<div id="pcaso"></div>
	
	<div id="pcaso-panel">
	  
	  <div id="pcaso-hover">( 0, 0 )</div> 
	  <div id="search_panel">
	    <form name="searchform" onSubmit="return handleSearch()" >
	      <input type="text" id="search_input" placeholder="Search" value="">
	      <input value="Search" id="search_button" type="submit">
	      <br>
	      <input type="checkbox" id="search_exact_checkbox" checked><span>exact match only</span>
	    </form>
	    <div id="search_results"></div>
	  </div>
	  
	  <br style="clear: both;">
	  <div id="pcaso-selection" ></div>
	  <div id="pcaso-legend" ></div> 
	  
	</div>
	
	<br style="clear: both;">
	<div style="display:none;" id="show-caption" >
	  
	</div>
      </div>      
      
      <div class="app-content">
	<div id="comments-container" class="jquery-comments"></div> 
      </div>

      
      
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
