<head>	
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/imgs/favicon.ico" type="image/x-icon">

  <title id="title">Pcaso</title>
  <meta name="description" value="Data driven painting service that allows users to view higher dimentional datasets." />
  <meta name="keywords" value="genetic data metadata datadriven pcaso picasso" />
  <meta name="application-name" content="Pcaso"/>

  <!-- STYLE SHEETS -->

  <!-- PureCss -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">	

  <!-- Dataset viewer -->
  <link rel="stylesheet" href="/css/dataset-viewer.css">	
  
  <!-- Custom style sheets -->
  <link rel="stylesheet" href="/css/pure-extras.css">
  <link rel="stylesheet" href="/css/stylesheet.css">

  <!-- Jquery-comments -->
  <link rel="stylesheet" type="text/css" href="/components/jquery-comments/css/jquery-comments.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    

  <!-- JAVASCRIPT -->

  <script type="text/javascript">


    var userData = {
    <% if (locals.user ) { %>
    _id:         "<%- user._id %>", 
    __t:         "<%- user.__t %>", 
    name:         <%- user.name %>,
    fileSettings: <%- user.fileSettings %>,
    avitar:      "<%- user.avitar %>",
    links:        <%- user.links %>,
    profileSettings: <%- user.profileSettings %>
    
    <% } else { %> 
    _id: null, 
    __t: null,
    name: { first: null, last: null },
    fileSettings: null,
    avitar: null,
    links: { link: null, local: null }
    <% }  %>
    };
    
    var focusEntity = {
    
    <% if (locals.profile) { %>
    
    _id:             "<%- profile._id %>", 
    __t:             "<%- profile.__t %>", 
    name:             <%- profile.name %>,
    username:        "<%- profile.username %>",
    avitar:          "<%- profile.avitar %>",
    links:            <%- profile.links %>,
    fileSettings:     <%- profile.fileSettings %>,
    profileSettings:  <%- profile.profileSettings %>
    <% } else if (locals.datascape) { %>    
    _id:             "<%- datascape._id %>", 
    __t:             "<%- datascape.__t %>", 
    parent:           <%- datascape.parent %>,
    file: {
    name:             "<%- datascape.file.name %>"
    },
    statistics:       <%- datascape.statistics %>,
    //Not sharing user emails for security reasons									
    displaySettings:  <%- datascape.displaySettings %>,
    links:            <%- datascape.links %>
    
    <% } else { %> 
    
    /* No entity in focus */
    
    <% }  %>    
    };

    window.globaData = {};
    window.globaData.user        = userData;
    window.globaData.focusEntity = focusEntity;
    console.log( window.globaData );
  </script>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-69497857-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  
  <!-- Async -->
  <script src="/components/async/dist/async.js"></script>
  
  <!-- Jquery-comments -->
  <script src="/components/jquery-comments/js/jquery-comments.js"></script>  
  
  <!-- TinyMCE -->
  <script src="/components/tinymce/tinymce.min.js"></script>  
  
  <!-- Jquery form vlidator -->
  <script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>

  
 <!-- Papa Parse -->
  <script src="/js/PapaParse/papaparse.js"></script>
  
  <!-- Form2js -->
  <script src="/js/form2js/src/form2js.js"></script>
  <script src="/js/form2js/src/js2form.js"></script>
  	  
</head>
