<head>	
  <meta charset="UTF-8">
  <title id="title">Pcaso</title>
  <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/imgs/favicon.ico" type="image/x-icon">

  <meta name="description" value="Data driven painting service that allows users to view higher dimentional datasets." />
  <meta name="keywords" value="genetic genetics data metadata datadriven pcaso picasso clayton" />
  <meta name="application-name" content="Pcaso">


  <!-- STYLE SHEETS -->

  <!-- PureCss -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">	

  <!-- Dataset viewer -->
  <link rel="stylesheet" href="/css/dataset-viewer.css">	

  <!-- Custom style sheets -->
  <link rel="stylesheet" href="/css/pure-extras.css">
  <link rel="stylesheet" href="/css/stylesheet.css">

  <!-- Jquery-comments -->
  <link rel="stylesheet" type="text/css" href="/components/jquery-comments/css/jquery-comments.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    

  <!-- JAVASCRIPT -->

  <script type="text/javascript">


    var userData = {
    <% if (locals.user ) { %>
    _id:         "<%- user._id %>", 
    __t:         "<%- user.__t %>", 
    name:         <%- user.name %>,
    username:    "<%- user.username %>",
    avitar:      "<%- user.avitar %>",
    links:        <%- user.links %>
    
    <% } else { %> 
    _id: null, 
    __t: null,
    name: { first: null, last: null },
    username: null,
    avitar: null,
    links: { link: null, local: null }
    <% }  %>
    };
    
    var focusEntity = {
    
    <% if (locals.profile) { %>
    
    _id:         "<%- profile._id %>", 
    __t:         "<%- profile.__t %>", 
    name:         <%- profile.name %>,
    username:    "<%- profile.username %>",
    avitar:      "<%- profile.avitar %>",
    links:        <%- profile.links %>
 
    <% } else if (locals.dataset) { %>
    
    _id:             "<%- dataset._id %>", 
    __t:             "<%- dataset.__t %>", 
    parent:           <%- dataset.parent %>,
    file:             <%- dataset.file %>,
    statistics:       <%- dataset.statistics %>,
    displaySettings:  <%- dataset.displaySettings %>,
    links:            <%- dataset.links %>
    
    <% } else { %> 
    
    /* No entity in focus */
    
    <% }  %>    
    };

    window.globaData = {};
    window.globaData.user        = userData;
    window.globaData.focusEntity = focusEntity;
    console.log( window.globaData );
  </script>
  
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  
  <!-- D3 -->
  <script src="/components/d3/d3.min.js"></script>  

    
  <!-- Jquery-comments -->
  <script src="/components/jquery-comments/js/jquery-comments.min.js"></script>  
  <script src="/js/comment-controller.js"></script>  
  
  <!-- Papa Parse -->
  <script src="/js/PapaParse/papaparse.js"></script>

  <!-- Form2js -->
  <script src="/js/form2js/src/form2js.js"></script>
  <script src="/js/form2js/src/js2form.js"></script>
  
  <!-- Upload controllers-->
  <script src="/js/helpers.js"></script>
  <script src="/js/upload-controller.js"></script>

  <!-- Save canvas as PNG -->
  <script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script> 
  <script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
  <script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>   
  <script type="text/javascript">
/*
 * svgenie
 * https://github.com/Causata/svgenie
 *
 * Copyright (c) 2013 Causata Ltd
 * Licensed under the MIT license.
 */

var svgenie = (function(){
    "use strict";
    
    var _serializeXmlNode = function (xmlNode) {
        if (typeof window.XMLSerializer != "undefined") {
            return (new window.XMLSerializer()).serializeToString(xmlNode);
        } else if (typeof xmlNode.xml != "undefined") {
            return xmlNode.xml;
        }
        return "";
    };
    
    var _toCanvas = function( svg, options, callback ){
        if ( typeof svg == "string" ){
            if ( svg.substr(0,1) == "#" ) { svg = svg.substr(1); }
            svg = document.getElementById(svg);
        }
        
        // Hopefully don't need to attach anything to the DOM
        var canvas = document.createElement("canvas");
        canvas.setAttribute("height",svg.offsetHeight);
        canvas.setAttribute("width",svg.offsetWidth);
        canvg( canvas, _serializeXmlNode(svg), {
            ignoreMouse : true,
            ignoreAnimation : true,
            renderCallback : function(){ callback( canvas ); }
        });
    };
    
    var _toDataURL = function( id, options, callback ){
        _toCanvas( id, options, function( canvas ){
            callback( canvas.toDataURL("image/png"), canvas );
        });
    };
    
    var _save = function( id, options ){
        
        _toDataURL( id, options, function(data, canvas){
            _saveToFile({
                data : data,
                canvas : canvas,
                name : options.name || "image.png"
            });
        });
    };
    
    var _saveToFile = function( conf ){
        var a = document.createElement( "a" );
        
        // Can we use the "download" attribute? (Chrome && FF20)
        if( a.download != null ){
            a.href = conf.data;
            a.download = conf.name;
            _pretendClick(a);
            return;
        };
        
        // IE10
        if( window.navigator.msSaveBlob ){
            conf.canvas.toBlob( function ( blobby ){
                if( window.navigator.msSaveBlob ){
                    window.navigator.msSaveBlob( blobby, conf.name );
                }
            }, "image/png" );
            return;
        }
        
    };
    
    function _pretendClick(eElement) {
        var oEvent = document.createEvent("MouseEvents");
        oEvent.initMouseEvent( "click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null );
        return eElement.dispatchEvent(oEvent);
    };
    
    return {
        save : _save,
        toCanvas : _toCanvas,
        toDataURL : _toDataURL
    };
})();
</script>

  	  
</head>
