<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      <script src="/js/profile-settings-controller.js"></script>
      
      <div class="app-content">
	<div class="account-container">
	  
	  
	  <h1 class="title">Profile settings</h1>
	  <hr>
	  
	  <form action="<%- profile.links.local %>/settings" method="post" id="profile-settings-form" 
		class="pure-form pure-form-aligned" name="dataset-upload-form">  <!-- novalidate="novalidate"> -->
	    
	    <div class=" basic-form">
	      <div class="prue-g position-relative" style="min-height: 25em;">
		
		<div class="pure-u-1-5">
		  <h2 class="center"><%= profile.name.first %> <%= profile.name.last %></h2>
		  <img class="pure-img avatar" src="<%- profile.links.avatar %>" id="avatar-display" \>
		  <div class="pure-control-group top-m-2">
		    <label for="avatar-select">Edit avatar</label>
		    <input type="file" accept="image/x-png, image/gif, image/jpe" name="avitar-select" id="avatar-select">
		  </div>
		</div>

		
		
		<div class="pure-u-4-5 settings-container">
		  
		  <div class="pure-control-group">
		    <label for="email">Email</label>
		    <p class="info-text"><%= profile.email %></p>
		    <label for="email-visibility">
		      <input type="checkbox" name="email-visibility" id="email-visibility"> Show publicly</label> 
		  </div>
		  
		  <div class="pure-control-group top-m-1">
		    <label for="email-visibility">Default datascape visibility</label>
		    
		    <label class="pure-radio radio-select" for="privacy-public">
		      <input type="radio" name="privacySettings" value="PUBLIC" id="privacy-public">Public
		    </label>
		    
		    <label class="pure-radio radio-select" for="privacy-private">
		      <input type="radio" name="privacySettings" value="PRIVATE" id="privacy-private">Private
		    </label>
		    
		  </div>
		  
		  
		  <br><br>
		  
		  <label for="old-password">Change password:</label>
		  
		  <div class="pure-control-group">
		    <label for="new-password">New password</label>
		    <input type="password" id="new-password" name="new-password">
		  </div>
		  
		  <div class="pure-control-group">
		    <label for="confirm-password">Confirm password</label>
		    <input type="password" id="confirm-password" name="confirm-password">
		  </div>
		  
		  
		</div>

	      </div>
	    </div>
	    <div class="">
	      <a href="<%- user.links.local %>" id="cancel-button"
		 class="pure-button submit-button">
		Cancel
	      </a>
	      
	      <button type="submit" id="save-datascape-button"
		      class="pure-button pure-button-success submit-button">
		Save
	      </button>
	      
	      <a href="<%- user.links.local %>/delete-account" id="delete-account"
		 class="pure-button pure-button-error submit-button" style="float: right;">
		Delete Account
	      </a>
	      
	    </div>

	  </form>

	</div>
      </div>
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
