<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      
      <div class="app-content">
	<div class="account-container">
	  
	  
	  <% if (isOwner) { %>
	  <h1>Hello <%= profile.name.first %></h1>
	  <% } else { %>
	  <h1><%= profile.username %></h1>
	  <% } %>
	  <hr>
	  
	  <div class="pure-g profile-main-display">
	  
	    <div class="pure-u-3-4">
	      <div class="pure-g">

		<% for(var i = 0; i < profile.files.length; i++) { %>
		   <div class="pure-u-1-6 dataspace-tile" style="background-image: url( <%- profile.files[i].links.thumbnail %>);">
		     <a href="<%- profile.files[i].links.local %>">
		       <h3><%= profile.files[i].displaySettings.title %></h3>
		     </a>
		     
		     
		     <p>Views: <%= profile.files[i].statistics.viewCount %></p>
		   </div>
		   <% } %>
		   
	      </div>
	      
	    </div>

	    <div class="pure-u-1-4">	      
	      <img class="pure-img" src="<%- profile.links.avatar %>">
	    </div>
	  </div>	  
	  
	  
	  <div id="comments-container" class="jquery-comments"></div> 
	</div>
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
