<p>Hola <%= user.name.first %>,</p>

<p><%= extra.user.name.first %> <%= extra.user.name.last %> ("<%- extra.user.email %>") has asked to see your Pcaso datascape
<a href="<%- extra.datascape.links.link %>"> <%= extra.datascape.displaySettings.title %></a>.

<a href="<%- extra.datascape.links.link %>/access-grant/<%- extra.user._id %>">Click here to let them see it.</a></p>

