<p>Hola <% user.name.first %>,</p>

<p><%= extra.user.name.first %> <%= extra.user.name.last %> has requested access to
<a href="<%- extra.datascape.links.link%>"><%= extra.datascape.displaySettings.title %></a>. 
To grant <%= extra.user.name.first %> access, simply add "<%= extra.user.email %>" to <%= extra.datascape.displaySettings.title %>'s
list of shared users</p>

